@value mainColor from "./style.css";

.container {
  position: relative;
  max-width: 500px;
}

.title {
  color: mainColor;
  font-weight: lighter;
}

.description {
  font-size: .9rem;
  max-width: 500px;
}

.generes {
  font-size: .9rem;
  font-variant-caps: all-small-caps;
}

.wikiLink {
  display: block;
  margin-top: 10px;
}

.remove {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  transition: background-color .2s linear;

  background: none;
  border: none;
  border-radius: 50%;

  &:hover {
    background-color: rgba(0,0,0,.1);
  }
}
